
/*carousel*/

.carousel-inner, .carousel-item {
    height: 100vh;
  }
  

.carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container1 img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container1 h5 {
  font-size: 30px;
  color:rgb(255, 0, 255); 
  padding-bottom: 10px; 
}

.container h2 {
  color:rgb(255, 0, 255); 
  padding-bottom: 10px; 
}

.card {
  padding:28px;
}

.card-body {
  padding:0 !important;

}

.footer1 {
  background-color: #eff2f5 ;
}

.inputfield  {
  height:20px;
}

